# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignore giant raw render source files not used by the website
public/images/*Copy of*
public/images/*.tif
public/images/*.tiff
public/images/Starting at .jpg
public/images/starting-at.jpg
